/*imported fonts*/

@import url('https://fonts.googleapis.com/css?family=Lato');
/* Get rid of the default margin and padding */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*--------------HEADINGS-------------*/

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    /*margin-bottom: 15px;*/
    /*the container is hero-text-box.  This will put more space between the bottom margin of h1 and .hero-text-box.  hero-text-box will grow as necessary */
    /*border: 2px solid red;*/
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* ----------------------------------------------- */

/* HEADER */

/* ----------------------------------------------- */

header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/person.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/person.jpg);
    /*We don't want a gradient.  We want just a color so we make it black to black.  We also don't want a pure black, so we will edit the transparency */
    background-attachment: fixed;
}

header .more-info-box {
    /* border: 2px solid red; */
    font-size: 400%;
    position: absolute;
    /*change this to relative to see whawt happens.  Since there is no positioned ancestor, i think position: absolute is positioning relative to the initial containng block (https://developer.mozilla.org/en-US/docs/Web/CSS/position) */
    bottom: 25px;
    left: 50%;
    padding-bottom: 60px;
    /*To make the icon fit inside the border*/
}

header .more-info-box i {
    /*display: block;*/
    /*taking out padding-bottom and absolute but leaving display: block works*/
    position: absolute;
    left: 25%;
    /*50% doesn't work*/
}

header .more-info-box p {
    font-size: 30%;
}

.hero-text-box {
    /*background-color: blue;*/
    /*border: 2px solid red;*/
    position: absolute;
    top: 50%;
    /*left: 25%; Move image to the left, instead of center */
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*NAVGIATION*/


.main-nav {

    /*get nav bar to the right*/
    display: flex;
    justify-content: flex-end;
    
    /*automatically makes it into a box element*/
    float: right;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    width: 100%;
    top: 0;
}

.main-nav li {
    /* border: 2px solid orange; */
}

.main-nav li a {
    /*border: 2px solid red;*/
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.main-nav a:hover:not(.active) {
    /* Select any elements we are hovering over and don't have .active class */
    background-color: 8693AB;
}

.active {
    background-color: #4CAF50;
}

li:last-child {
    margin-right: 15px;
}

.section-about, .section-overview-home {
    text-align: center;
}

.section-overview-home {
    background-color: #F2F4F3;
    /*Use padding instead of margin so that the created space is filled with the background color*/
    padding-bottom: 50px;

}

.section-quote {
    /*so we can position h3 using absolute.  Since its relative and we are not changing its positioning properties at all, this is in the same spot it would be if it was static*/
    /*position: relative;*/
    height: 50vh;
    background-color: #8693AB;
}

.section-quote h3, 
.section-quote p {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*https://stackoverflow.com/questions/38212963/how-to-display-a-horizontal-line-before-and-after-a-heading-in-css*/

/*https://stackoverflow.com/questions/16073323/horizontal-rule-line-beneath-each-h1-heading-in-css*/

h2::after {
    content: ' ';
    /* Whenever we do a psuedo after class, we need to specify its content */
    display: block;
    width: 100px;
    background-color: blue;
    /*border: 2px solid #d0d0d0;*/
    margin: 0 auto;
    margin-top: 30px;
    height: 2px;
    /*padding-bottom: 30px;*/
    margin-bottom: 30px;
}

/*https://www.w3schools.com/howto/howto_css_four_columns.asp*/

.overview-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    width: 23%;
    border: 2px solid green;
    margin: 0 5px;
}

.wrapper {
    width: 100%;
}


/*interests.html*/

.software-development-section {
    /* border: 2px solid red; */
}

.software-development-section h2, 
.other-hobbies-section h2 {
    text-align: center;
}


/* once we git 768 pixels, this is ignored
@media(min-width: 768px) {
    .software-development-section .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
*/

.software-development-section .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-around; */
    flex-wrap: wrap;

}

.box {
    border: 2px solid red;
    flex-basis: 33%;
    height: 50%;
}

.logo-box {
    background-color: black;

    border: 2px solid blue;
    flex-basis: 33%;
    height: 75%;
}

.text {
    border: 2px solid orchid;
}

.software-development-section .row .frontend-box .logo-box {
    background-color: bisque;
}

.software-development-section .row .backend-box .logo-box {
    background-color: navajowhite;
  
}

.logo-box object {
    width: 100px;
    height: 100px;
    fill: white;
}

.fa-html5, 
.fa-css3-alt {
    position: relative;
    left: 5%;
    border: 2px solid brown;
    font-size: 500%;
}

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
}

.row {
    position: relative;
}

.contact-me {
    position: absolute;
    top: 0;
    right: 0;
}


.contact-me a:link, 
.contact-me a:visited {
    text-decoration: none;
    color: #888;
    /*top and bottom, right and left */
    padding: 0px 5px;
  
}

.contact-me a:hover, 
.contact-me a:active {
    color: #ddd;
}



.footer-nav li  {
    /* border: 2px solid red; */
    display: inline-block;
}

.footer-nav li a:link, 
.footer-nav li a:visited {
    text-decoration: none;
    color: #888;
    border-right: 1px solid blue;
    /*top and bottom, right and left */
    padding: 0px 5px;
  
}

/* Remove right border from last link */
.footer-nav li:last-child a {
    border-right: none;
}


.footer-nav li a:hover, 
.footer-nav li a:active {
    color: #ddd;
}

footer .copy-right {
    text-align: center;
}


/* contact.html */

.form-container {

    border: 2px solid blue;




    /*Center horizontally and vertically*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 400px;

}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button
 {
     border: 1px solid #CCC;
     display: block;
     width: 100%;
     padding: 10px;  

}

#contact input, 
textarea, 
select, 
button {
     /*Top bottom, left right*/
     margin: 10px 0;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover
 {
     -webkit-transition: border-color 0.3s ease-in-out;
     transition: border-color 0.3s ease-in-out;
     border: 1px solid red;

}

#contact textarea {
    height: 75px;
    resize: none;
    margin-top: 5%;
    margin-bottom: 5%;
}


#contact {
    background: #F9F9F9;
    padding: 25px;
    /* margin: 150px 0; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #0cf;
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
}


#contact button[type="submit"]:hover {
   background: #09C;
   -webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;

}

#contact input:focus, 
#contact textarea:focus {
	outline:0;
	border:1px solid green;
}

select {
    display: block;
}

label {
    font-size: 75%;
}





/*-------------------------------------------*/

.container-about {
    display: flex;
    height: 100vh;
    border: 2px solid red;
    /*flex-wrap: wrap;*/ /*Will make it go to new line if it runs out of space*/
  }
  
  .column-right {

    /* background-color: blue; */
     /* overflow: hidden;*/ /*hide the stuff that goes outside the div (because we have a fixed height on the column)*/
     overflow-y: auto;


    border: 2px solid green;
    height: 100%;
    flex-basis: 50%;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .column-left {
      background-color: red;
      flex-basis: 50%;
  }
  
  .column-left img {
    width: 100%;
    height: 100%;
  }
  
  .column-right .title {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .column-right .job-title {
      /*so that we can add margin*/
      display: inline-block;
      white-space: pre;
      margin-bottom: 20px;

  }

  /*https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag*/
  /*https://stackoverflow.com/questions/18225302/how-can-i-wrap-or-break-long-text-word-in-a-fixed-width-span/18225360*/
  .column-right .col-text {
      border: 2px solid green;
      font-size: 75%;
      display: block;
      width: 100%;
      white-space: pre-wrap;
      word-wrap: break-word;
  }