@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900');

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* { /*remove all margins and padding*/
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, 
body {
    background-color: #fff;
    color: #555; /*text color*/ /*cmd E pops up color picker*/
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300; /*We can use 100, 300, and 400*/
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* HEADINGS */
/* ----------------------------------------------- */

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    /* font-size will be 48px */
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;

}


/* ----------------------------------------------- */
/* HEADER START*/
/* ----------------------------------------------- */

header {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Navigation */
nav {
    display: flex;
    height: 150px;
    border: 2px solid green;
    background-color: #222326;
    opacity: .7;
    /*This allows us to put the slider behind the nav bar because we remove the nav bar from the normal page flow*/
    position: absolute;
    width: 100%;
    /*make nav bar on top of .slideshow-container*/
    z-index: 99999;
}

/* select the direct children (level 1 children of the flex container */
nav > * {
    border: 2px solid pink;
}

nav img {
    width: 15%;
    height: 75%;
    /*center image*/
    margin: auto;
    
}

.main-nav-left, 
.main-nav-right {
    flex-basis: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

/*https://stackoverflow.com/questions/42144413/centering-a-specific-element-among-others-with-flexbox*/
.main-nav-left {
    margin-right: auto;
}

.main-nav-right {
    margin-left: auto;
}


.main-nav-left li, 
.main-nav-right li { 
    
}

.main-nav-left li a, 
.main-nav-right li a {
    display: block;
    color: #FFF;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Mobile navigation */

/* Slide Show */

.slideshow-container {
    position: relative;
    height: 100vh;
    border: 2px solid red;
}

 .slide {
    display: none;
    /* be as large as slideshow-container */
    height: 100%;
      /* to make the images have a dark background.  Then put opacity on image */
      background-color: #000; 
 }

 .slide > img {
     vertical-align: middle;
     /* fill up .slide */
     height: 100%;
     width: 100%;
     opacity: .5;
   
 }

 .slideshow-container .prev-arrow, 
 .slideshow-container .next-arrow {
     cursor: pointer;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     padding: 16px;
     transition: 0.6s ease;
     


 }

 .slideshow-container .prev-arrow {
    left: 0;
}

.slideshow-container .next-arrow {
    right: 0;
}

.slideshow-container .prev-arrow:hover, 
.slideshow-container .next-arrow:hover {
   background-color: rgba(0,0,0,0.8);
   border-radius: 0 3px 3px 0;
   color: #FFF;

}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover, 
.dots .active {
    background-color: #717171;
}

.dots {
    position: absolute;
    left: 0;
    top: 85%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid blue;
}





/* ----------------------------------------------- */
/* HEADER END */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* INDEX.HTML BEGING */
/* ----------------------------------------------- */

.food-grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 250px;
}

.food-grid-section > div {
    /* height: 250px; */
    /* to make the images have a dark background.  Then put opacity on image */
    background-color: #000; 
    overflow: hidden;
}

.food-grid-section > div > img {
    height: 100%;
    width: 100%;
    opacity: .7;
    transform: scale(1.15);
    transition: opacity 0.5s, transform 0.5s;
 
}

.food-grid-section > div > img:hover {
    opacity: 1;
    transform: scale(1.03);
}


