@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900');

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* { /*remove all margins and padding*/
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    /* border: 2px solid blue; */
}

html, 
body {
    background-color: #fff;
    color: #555; /*text color*/ /*cmd E pops up color picker*/
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300; /*We can use 100, 300, and 400*/
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* HEADINGS */
/* ----------------------------------------------- */

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    /* font-size will be 48px */
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;

}


/* ----------------------------------------------- */
/* HEADER START*/
/* ----------------------------------------------- */

header {
    /* background-size: cover;
    background-position: center;
    height: 100vh; */
}

header .hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-weight: 700;
    width: 100%;
    text-align: center;
    border: 2px solid red;
}

header .hero-times-wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-weight: 700;
    width: 50%;
    grid-gap: 5%;
}

header .hero-times-wrapper .hero-times-bar {
    font-weight: 900;
}

header .hero-times-wrapper .hero-times-bar h4,
header .hero-times-wrapper .hero-times-kitchen h4 {
    text-align: center;
    margin-bottom: 15px;
}

/* Navigation */
nav {
    display: flex;
    height: 150px;
    /* border: 2px solid green; */
    background-color: #222326;
    opacity: .7;
    /*This allows us to put the slider behind the nav bar because we remove the nav bar from the normal page flow*/
    position: absolute;
    width: 100%;
    /*make nav bar on top of .slideshow-container*/
    z-index: 99998;
}


/* select the direct children (level 1 children of the flex container */
nav > * {
    /* border: 2px solid pink; */
}

nav img {
    width: 15%;
    height: 75%;
    /*center image*/
    margin: auto;
    
}

.main-nav-left, 
.main-nav-right {
    flex-basis: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

/*https://stackoverflow.com/questions/42144413/centering-a-specific-element-among-others-with-flexbox*/
.main-nav-left {
    flex-grow: 1;
    /* border: 2px solid blue; */
}

.main-nav-right {
    /* justify-content: flex-end; */
    flex-grow: 1;
    /* border: 2px solid red; */
}


.main-nav-left li, 
.main-nav-right li { 
    
}

.main-nav-left li a, 
.main-nav-right li a {
    display: block;
    color: #FFF;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Mobile navigation */
.mobile-nav {
    /*will be changed to flex when .mobile-nav-icon is clicked*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* positioned relative to the view port */
    position: fixed;
    /* fill up entire view port */
    height: 0;
    width: 100%;
    /*put above .slide-container (and above <nav>.  we gave it a z-index of one higher of nav*/
    z-index: 99999;
    border: 2px solid red;
    color: #FFF;
    background-color: rgba(0,0,0,0.9);
    transition: 0.5s;
    /*if we don't have this, the .mobile-nav items will show even if the height of the element is 0 */
    overflow-y: hidden;
}

.mobile-nav a {
    margin: 15px 0;
}

.mobile-nav i {
    position: absolute;
    top: 0;
    right: 0;



}

.disable-scroll {
    overflow: hidden;
}

.mobile-nav-icon {
    position: absolute;
    font-size: 150%;
    color: white;
    right: 5%;
    margin-top: 20px;
    cursor: pointer;
    display: none;
    /* put it above .slide-container */
    z-index: 2000;
}




/* Slide Show */

header .slideshow-container {
    position: relative;
    height: 100vh;
    /* border: 2px solid red; */
}

 .slide {
    display: none;
    /* be as large as slideshow-container */
    height: 100%;
    /* to make the images have a dark background.  Then put opacity on image */
    background-color: #000; 
 }

 .slide > img {
     vertical-align: middle;
     /* fill up .slide */
     height: 100%;
     width: 100%;
     opacity: .5;
   
 }

 .slide .text {
     position: absolute;
     bottom: 0;
     border: 2px solid red;
 }

 .slideshow-container .prev-arrow, 
 .slideshow-container .next-arrow {
     cursor: pointer;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     padding: 16px;
     transition: 0.6s ease;
     


 }

 .slideshow-container .prev-arrow {
    left: 0;
}

.slideshow-container .next-arrow {
    right: 0;
}

.slideshow-container .prev-arrow:hover, 
.slideshow-container .next-arrow:hover {
   background-color: rgba(0,0,0,0.8);
   border-radius: 0 3px 3px 0;
   color: #FFF;

}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover, 
.dots .active {
    background-color: #717171;
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    /* border: 2px solid blue; */
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


/* ----------------------------------------------- */
/* HEADER END */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* INDEX.HTML BEGIN */
/* ----------------------------------------------- */

.food-grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 250px;
}

.food-grid-section > div {
    /* height: 250px; */
    /* to make the images have a dark background.  Then put opacity on image */
    background-color: #000; 
    overflow: hidden;
}

.food-grid-section > div > img {
    height: 100%;
    width: 100%;
    /* https://stackoverflow.com/a/30794589/9599554 */
    object-fit: cover;
    opacity: .7;
    transform: scale(1.15);
    transition: opacity 0.5s, transform 0.5s;
 
}

.food-grid-section > div > img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/* ------------- ABOUT SECTION ------------- */

.about-section {
    padding-top: 2%;
    background-color: #91C7B1;
}

.about-section h1 {
    text-align: center;
}

.about-section div {
    display: flex;
    justify-content: center;
}

.about-section h3 {
    text-align: center;
    padding: 50px;
    width: 75%;
    /* border: 2px solid red; */
}

/* ------------- WHAT WE OFFER SECTION ------------- */

.what-we-offer-section {
    background-color: #f4f4f4;
    padding: 2% 0;
}

.what-we-offer-section h1 {
    margin-bottom: 5%;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 27%;
    background-color: #FFF;
}



/* flex box is taking care of some of the sizing of the image for us (implicitily) */
.card img {
    width: 100%;
    /* https://stackoverflow.com/questions/3170772/what-does-auto-do-in-margin0-auto */
    /* https://stackoverflow.com/a/25569436/9599554 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card .content {
    padding: 5%;
}


/* ----------------------------------------------- */
/* FOOD.HTML BEGIN */
/* ----------------------------------------------- */

.menu-page-body section:nth-of-type(odd) {
    background-color: #E6EFE9;
}

.menu-page-body section:nth-of-type(even) {
    background-color: #EFECCA;
}



/* Don't need the nav bar over the slideshow */
.menu-page-body nav {
    position: relative;
}

.menu-page-body section h1 {
    text-align: center;
}

/* all <div> elements with class "menu-container". */
/* https://css-tricks.com/difference-explicit-implicit-grids/ */
/* https://www.w3.org/TR/css-grid-1/ */
.menu-page-body div.menu-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    grid-auto-rows: 150px; /*switch to auto?*/
    grid-gap: 10px;
    border: 2px solid red;
}
.menu-page-body .menu-items-container .menu-item {
    border: 2px solid pink;
    /*positon .price relative to .menu-item*/
    position: relative;
}

.menu-page-body .menu-items-container .menu-item .description {
    margin-top: 15px;
}

.menu-page-body .menu-items-container .menu-item .price {
    /*get it to the right side of its container (.menu-item) */
    /* float: right; */
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid blue;
}

.mac-n-cheese-your-way-section {
    background-color: #FFFFFF;
}

.mac-n-cheese-your-way-section > div:first-of-type {
    padding: 0 15%;
    text-align: center;
}

.mac-n-cheese-your-way-section .types {
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.mac-n-cheese-your-way-section .types > span {
    align-self: center;
}

.mac-n-cheese-your-way-section .types div {
    display: flex;
    flex-direction: column;
    border: 2px solid burlywood;
}

.salads-section .extra {
    display: flex;
    justify-content: center;
}

.salads-section .dressings {
    font-size: 75%;
    border: 2px solid red;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}

.salads-section .extra div {
    border: 2px solid #91C7B1;
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
    justify-content: center;
    grid-column-gap: 15px;
    
}

.dippers-and-sides-section .dippers-and-sides-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.dippers-and-sides-section .dippers-and-sides-container .dippers-column .dippers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 25px;

}

.dippers-and-sides-section .dippers-and-sides-container .dippers-column .dippers span {
    font-size: 35%;
    position: relative;
    left: 15px;
    line-height: 0%;
}

/* ----------------------------------------------- */
/* EVENTS.HTML BEGIN */
/* ----------------------------------------------- */

/* include <nav> back into the normal flow  */
.events-page-body nav {
    position: relative;
}

/* need the > */
.daily-happy-hour-section h1, 
.daily-happy-hour-section > div:first-of-type {
    text-align: center;
}


.events-page-body .weekly-specials-section .row {
    display: flex;
}

.events-page-body .weekly-specials-section .row > div {
    flex: 0 0 33.3333%;
}


/* ----------------------------------------------- */
/* CONTACT.HTML BEGIN */
/* ----------------------------------------------- */

.contact-page-body header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/outside_view.jpg);
    /*We don't want a gradient.  We want just a color so we make it black to black.  We also don't want a pure black, so we will edit the transparency */
    background-attachment: fixed;

}

.contact-page-body .hero-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFF;
}

.contact-page-body h1 {
    
}


.contact-page-body .hero-text-wrapper .hero-text {
    width: 75%;
    /* center h1 tag and span */
    text-align: center;
}

.contact-page-body .hero-text-wrapper .hero-text h1 {
   margin-bottom: 2%;
}

.contact-page-body .fa-arrow-down {
    position: absolute;
    bottom: 2%;
    font-size: 250%;
    left: 50%;
}

.contact-form-section {
    border: 2px solid blue;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #54494B;

}

.contact-form-section h3 {

}

/* center grid container */
.form-container-wrapper {
    display: flex;
    justify-content: center;
}

.form-container {
    display: grid;
    /*media query just go to one column*/
    grid-template-columns: 200px 200px;
    grid-row-gap: 25px;
    grid-column-gap: 45px;
}

.form-container label {
    font-size: 75%;
    color: #FFFFFF;
}

.form-container input {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 25px;
}

.button {
    position: relative;
    width: 15%;
    padding: 15px 15px;
    text-align: center;
    border: 5px solid #B17461;
    color: #B17461;
    font-size: 30px;
    background-image: linear-gradient(#B17461, #B17461);
    background-position: 50% 50%;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;

    margin: 0 auto;
}

.button:hover {
    background-size: 100% 100%;
    color: #fff;
}